{% extends "core/base.html" %}


{% block title %}
Services | {{ block.super }}
{% endblock title %}

{% block content %}


<div class="m-5 text-white font-monospace">
    <h2 class="text-success mb-5 border-bottom">SERVICES</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        <div class="col">
          <div class="text-center  border rounded p-3">
            <i class="fa-solid fa-code text-info fa-2x"></i>
            <h3>Web Develoment</h3>
            <p class="text-secondary"><small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, dignissimos?</small></p>
          </div>
        </div>
        
        
    </div>

</div>

{% endblock content %}
