{% extends "core/base.html" %} {% load static %} 


{% block title %}
Home | {{ block.super }}
{% endblock title %}

{% block content %}



<div class="row d-flex justify-content-center">
  <div class="col-md-4 text-center mt-4">
    <img class="w-100 border border-5 border-success rounded" src="{% static "core/images/afridi2.jpg" %}" alt="profie picture">
  </div>
</div>

<div class="text-white font-monospace p-3" style="text-align: justify;">
    <h1 class="satisfy-regular">Hello,</h1>
    <div class="px-4">
        <p style="text-indent:80px;" >
            I am <b class="text-success">Shahid Afridi</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus veritatis aut, distinctio vero provident dolor ad vel quaerat, beatae fugiat suscipit quod! Commodi deleniti, corrupti voluptatum.
        </p>
        <p>incidunt eos impedit libero id! Repudiandae laboriosam et, eum similique nesciunt ducimus commodi hic? Quidem sint eos suscipit repudiandae cum excepturi fuga, eum, apiciatis ut, impedit aliquid, maiores eos laborum facilis ducimus voluptatum, nulla distinctio ab! Sint at quam eius veniam! Ut, tenetur expedita. Ratione.</p>
        <p 
        >incidunt eos impedit libero id! Repudiandae laboriosam et, eum similique nesciunt ducimus commodi hic? Quidem sint eos suscipit repudiandae cum excepturi fuga, eum, asperiores mpedit aliquid, maiores eos laborum facilis ducimus voluptatum, nulla distinctio ab! Sint at quam eius veniam! Ut, tenetur expedita. Ratione.</p>
    </div>
</div>
<div class="text-center mb-5">
    <a href="" class="btn btn-outline-success mx-2">Hire Me</a>
    <a href="" class="btn btn-outline-info mx-2">Contact</a>
</div>

{% endblock content %}
