{% load static %}
<div class="row m-0">
  <div class="text-center mt-3">
    <img
      class="w-75 rounded-circle border border-success"
      src="{% static 'core/images/afridi1.png'%}"
      alt=""
    />
  </div>
  <h3 class="text-center text-white my-2 satisfy-regular">Shahid Afridi</h3>
  <hr class="border-light" />

  <nav class="nav flex-column text-center p-0 ">
    <a href="{% url "home" %}" class="nav-link {{home}}">Home</a>
    <a href="{% url "projects" %}" class="nav-link {{projects}}">Projects</a>
    <a href="{% url "services" %}" class="nav-link {{services}}">Services</a>
    <a href="{% url "skills" %}" class="nav-link {{skills}}">Skills</a>
    <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
  </nav>
</div>
