{% load static %}
<div class="row ">
  <div class="text-center mt-3">
    <img
      class="w-75 rounded-circle border border-success"
      src="{% static 'core/images/afridi1.png'%}"
      alt=""
    />
  </div>
  <h3 class="text-center text-white my-2 satisfy-regular">Shahid Afridi</h3>
  <hr class="border-light" />

  <nav class="nav flex-column text-center">
    <a href="{% url "home" %}" class="nav-link text-white">Home</a>
    <a href="" class="nav-link text-white">Projects</a>
    <a href="{% url "services" %}" class="nav-link text-white">Services</a>
    <a href="{% url "skills" %}" class="nav-link text-white">Skills</a>
    <a href="{% url 'contact' %}" class="nav-link text-white">Contact</a>
  </nav>
</div>
